* {
  box-sizing: border-box;
}

:root {
  --yellow-100: #fea;
  --yellow-500: #fb1;

  --input-background: #eee;
  --border: #eee;

  --error: #f31;
}

body {
  margin: 0;
  color: #333;
  --type-first: Helvetica, Arial, sans-serif;
  --type-second: 'Spectral', Georgia;
  font-family: var(--type-first);
  padding-top: 4rem;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  display: block;
  font-size: 1rem;
  color: #333;
  font-family: var(--type-first);
}

.container {
  max-width: 50rem;
  padding: 0 1rem;
  margin: 0 auto;
}
